body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f0f0f0;
}

/* CENTER TITLE */
h1{
    text-align:center;
}

/* CENTER UPLOAD SECTION */
.upload-section{
    text-align:center;
    margin-top:20px;
}

.upload-section h2{
    color:#2e6b4f;
    margin-bottom:25px;
}

/* BIG GREEN BUTTONS */

.big-btn{
    display:block;          /* this moves the next button to a new line */
    width:300px;
    margin:15px auto;
    padding:15px;
    background:#2f6b4f;
    color:white;
    font-size:18px;
    border-radius:40px;
    text-align:center;
    cursor:pointer;
}

.big-btn:hover{
    background:#1f573c;
}

/* ANALYZE BUTTON */

.analyze-btn{
    margin-top:20px;
    padding:10px 25px;
    font-size:16px;
}
/* IMAGE LAYOUT */
.image-container{
    display:flex;
    justify-content:center;
    gap:80px;
}

/* IMAGE BOX */
.image-box{
    text-align:center;
}

/* IMAGE STYLE */
img{
    border:1px solid #ccc;
    margin-top:10px;
}