body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f0f0f0;
}

/* CENTER TITLE */
h1{
    text-align:center;
}

/* CENTER UPLOAD SECTION */
.upload-box{
    text-align:center;
    margin-bottom:30px;
}

.btn{
    background:#d23913;
    color:white;
    padding:10px 18px;
    margin:5px;
    border-radius:5px;
    cursor:pointer;
    display:inline-block;
}

.btn:hover{
    background:#d23913;
}
/* IMAGE LAYOUT */
.image-container{
    display:flex;
    justify-content:center;
    gap:80px;
}

/* IMAGE BOX */
.image-box{
    text-align:center;
}

/* IMAGE STYLE */
img{
    border:1px solid #ccc;
    margin-top:10px;
}